@using System.Globalization;


@model Condusef_DLL.Funciones.Condusef.Reune
@{
    var cultura = new CultureInfo(@ViewData["Lang"].ToString() ?? "es");
    var rm = new System.Resources.ResourceManager(typeof(IdiomaCondusef_DLL.Condusef.Condusef));
    var rs = rm.GetResourceSet(cultura, true, true);
    ViewBag.Title = "Consultar " + rs.GetString("Aclaraciones") + " | " + rs.GetString("Reune");
    ViewBag.TituloCard = rs.GetString("Aclaraciones");
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .right-padding-3 {
        padding: 0 5em 0 0;
    }

    .btn-info {
        color: white !important;
    }

    .select2-container {
        z-index: 0 !important;
        min-width: 100%;
        max-width: 100%;
    }
</style>

<div class="container-fluid p-0">
    <div class="card table-borderless">
        <div class="card-body p-1">
            <div class="container-fluid p-5">
                <div class="flex-row row mt-3">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("PeriodoBuscar")</label>
                            <div class="input-group mb-3">
                                <div class="col nopadding">
                                    @Html.DropDownList("periodo", new SelectList(Model.Trimestre, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems selectitems-search-input", @id = "periodo", @data_live_search = "true", @data_live_search_normalize = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("AnioBuscar")</label>
                            <div class="input-group mb-3">
                                <div class="col nopadding">
                                    @Html.DropDownList("anio", new SelectList(Model.Anios, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems selectitems-search-input", @id = "anio", @data_live_search = "true", @data_live_search_normalize = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 centrar-elemento-div">
                        <button id="btn_buscarQuejas" class="btn btn-primary centrar-elemento btn-block-modal mt-2">@rs.GetString("Buscar")</button>
                    </div>
                </div>
                <div class="flex-row row mt-3">
                    <div class="col">
                        <div class="" id="Scroll">
                            <table id="tablaAclaraciones" class="table table-sm table-responsive w-100 d-block d-xl-table table-bordered table-striped selector dt-body-center pt-3" style="width:100%">
                                <thead class="dark-thead">
                                    <tr>
                                        <th class="table__th" id="_AclaracionNumero">Número de aclaracion</th>
                                        <th class="table__th" id="_AclaracionFolioAtencion">Folio de atención</th>
                                        <th class="table__th" id="_AclaracionEstadoConPend">Estatus de la aclaración</th>
                                        <th class="table__th" id="_AclaracionFechaAclaracion">Fecha de aclaración</th>
                                        <th class="table__th" id="_AclaracionMedioRecepcionCanal">@rs.GetString("TMedioRecepcion")</th>
                                        <th class="table__th" id="_AclaracionNivelAtencion">@rs.GetString("TNivelAtencion")</th>
                                        <th class="table__th" id="_AclaracionProductoServicio">@rs.GetString("ProductoServicio")</th>
                                        <th class="table__th" id="_AclaracionCausaMotivo">@rs.GetString("QuejaCausa")</th>
                                        <th class="table__th" id="_AclaracionPori">PORI</th>
                                        <th class="table__th" id="_AclaracionFechaAtencion">Fecha de atención</th>
                                        <th class="table__th" id="_AclaracionFechaResolucion">Fecha de resolucion</th>
                                        <th class="table__th" id="_AclaracionFechaNotifiUsuario">Fecha de notificacion</th>
                                        <th class="table__th" id="_AclaracionEntidadFederativa">Estado</th>
                                        <th class="table__th" id="_AclaracionMunicipioAlcaldia">Municipio</th>
                                        <th class="table__th" id="_AclaracionColonia">Colonia</th>
                                        <th class="table__th" id="_AclaracionCodigoPostal">CP</th>
                                        <th class="table__th" id="_AclaracionLocalidad">Localidad</th>
                                        <th class="table__th" id="_AclaracionMonetario">Monetario</th>
                                        <th class="table__th" id="_AclaracionMontoReclamado">Monto reclamado</th>
                                        <th class="table__th" id="_AclaracionTipoPersona">Tipo persona</th>
                                        <th class="table__th" id="_AclaracionSexo">Sexo</th>
                                        <th class="table__th" id="_AclaracionEdad">Edad</th>
                                        <th class="table__th" id="_AclaracionFolioCondusef">Folio condusef</th>
                                        <th class="table__th" id="_AclaracionReversa">Reversa</th>
                                        <th class="table__th" id="_AclaracionOperacionExtranjero">Operacion en el extranjero</th>
                                        <th class="table__th" id="_FechaSubida">Fecha subida</th>
                                        <th class="table__th" id="_Modificar"></th>
                                        <th class="table__th" id=""></th>
                                        @* <th class="table__th" id="_Eliminar"></th> *@
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@rs.GetString("DetallesAclaracion")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="flex-row row my-2">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("Trimestre")</label>
                            <div class="input-group mb-3">
                                <div class="col nopadding">
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionTrimestre, new SelectList(Model.Trimestre, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "trimestre-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" })
                                </div>
                                <span class="input-group-text" id="anioActual"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("NumeroAclaracion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionNumero, new { htmlAttributes = new { @class = "form-control", @id = "AclaracionNumero", @type = "number", @min = "1", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FolioAtencion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFolioAtencion, new { htmlAttributes = new { @class = "form-control", @id = "AclaracionFolioAtencion", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FechaAclaracion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFechaAclaracion, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "AclaracionFechaAclaracion", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("MedioRecepcion")</label>
                            <div class="col nopadding">
                                @* @Html.EditorFor(model => model.QuejasRedeco.QuejasMedio, new { htmlAttributes = new { @class = "form-control", @id = "QuejasMedio", @autocomplete = "off" } }) *@
                                @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionMedioRecepcionCanal, new SelectList(Model.MediosRecepcion, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "medios-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("NivelAtención")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @* @Html.EditorFor(model => model.QuejasRedeco.QuejasNivelAT, new { htmlAttributes = new { @class = "form-control", @id = "QuejasNivelAT", @autocomplete = "off" } }) *@
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionNivelAtencion, new SelectList(Model.NivelesAtencion, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "niveles-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("ProductoServicio")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @* @Html.EditorFor(model => model.QuejasRedeco.QuejasProducto, new { htmlAttributes = new { @class = "form-control", @id = "QuejasProducto", @autocomplete = "off" } }) *@
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionProductoServicio, new SelectList(Model.Productos, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "productos-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FechaAtencion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFechaAtencion, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "RecFechaAtencion", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("PORI")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pori-radio" id="pori-radio1" value="SI" disabled>
                                    <label class="form-check-label" for="pori-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pori-radio" id="pori-radio2" value="NO" disabled>
                                    <label class="form-check-label" for="pori-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("QuejaEstatus")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="estatus-radio" id="estatus-radio1" value="1" disabled>
                                    <label class="form-check-label" for="estatus-radio1">
                                        @rs.GetString("Pendiente")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="estatus-radio" id="estatus-radio2" value="2" disabled>
                                    <label class="form-check-label" for="estatus-radio2">
                                        @rs.GetString("Concluido")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("EntidadFederativa")</label>
                            <div class="col nopadding">
                                @* @Html.EditorFor(model => model.QuejasRedeco.QuejasEstados, new { htmlAttributes = new { @class = "form-control", @id = "QuejasEstados", @autocomplete = "off" } }) *@
                                @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionEntidadFederativa, new SelectList(Model.Estados, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "estados-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("Municipio")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    <input id="municipio-text" type="text" class="form-control" disabled />
                                    @* @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionMunicipioAlcaldia, new SelectList(Model.Municipios, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "municipios-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" }) *@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("CP")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    <input id="cp-text" type="text" class="form-control" disabled />
                                    @* @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionCodigoPostal, new SelectList(Model.CodigosPostales, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "cp-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" }) *@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("Colonia")</label>
                            <div class="col nopadding">
                                <input id="colonia-text" type="text" class="form-control" disabled />
                                @* @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionColonia, new SelectList(Model.Colonias, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "colonias-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" }) *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-3">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("TipoPersona")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="persona-radio" id="persona-radio1" value="1" disabled>
                                    <label class="form-check-label" for="persona-radio1">
                                        @rs.GetString("Fisica")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="persona-radio" id="persona-radio2" value="2" disabled>
                                    <label class="form-check-label" for="persona-radio">
                                        @rs.GetString("Moral")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("Sexo")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo-radio" id="sexo-radio1" value="H" disabled>
                                    <label class="form-check-label" for="sexo-radio1">
                                        @rs.GetString("Hombre")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo-radio" id="sexo-radio2" value="M" disabled>
                                    <label class="form-check-label" for="sexo-radio2">
                                        @rs.GetString("Mujer")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("Edad")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionEdad, new { htmlAttributes = new { @type = "number", @min = "0", @max = "100", @class = "form-control", @id = "AclaracionEdad", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("Monetario")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="monetario-radio" id="monetario-radio1" value="SI" disabled>
                                    <label class="form-check-label" for="monetario-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="monetario-radio" id="monetario-radio2" value="NO" disabled>
                                    <label class="form-check-label" for="monetario-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("Reversa")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reversa-radio" id="reversa-radio1" value="1" disabled>
                                    <label class="form-check-label" for="monetario-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reversa-radio" id="reversa-radio2" value="0" disabled>
                                    <label class="form-check-label" for="reversa-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("MontoReclamado")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionMontoReclamado, new { htmlAttributes = new { @type = "number", @step = "0.01", @min = "0", @class = "form-control", @id = "AclaracionMontoReclamado", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FolioCondusef")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFolioCondusef, new { htmlAttributes = new { @class = "form-control", @id = "AclaracionFolioCondusef", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("OperacionExtranjero")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="operacion-radio" id="operacion-radio1" value="SI" disabled>
                                    <label class="form-check-label" for="operacion-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="operacion-radio" id="operacion-radio2" value="NO" disabled>
                                    <label class="form-check-label" for="operacion-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("QuejaCausa")</label>
                            <div class="col nopadding">
                                <input id="causa-text" type="text" class="form-control" disabled />
                                @* @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionCausaMotivo, new SelectList(Model.CausasProductos, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "causas-select", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" }) *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <button id="" type="button" class="btn btn-danger btn-block-modal" data-bs-dismiss="modal">@rs.GetString("Cerrar")</button>
                    @* <button type="button" class="btn btn-primary btn-block-modal" id="btn_agregar">@rs.GetString("Agregar")</button>
                    <button type="button" class="btn btn-info btn-block-modal" id="btn_actualizar" style="display:none;">@rs.GetString("Modificar")</button> *@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRespuesta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@rs.GetString("TRespuestaJson")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="flex-row row my-2">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FolioAtencion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    <input class="form-control" id="folio_Ver" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FechaRecepcion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    <input type="date" class="form-control" id="fechaRecepcion_Ver" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FechaSubida")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fechaSubida_Ver" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row mt-3">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("RespuestaJson")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    <textarea id="respuesta_ver" class="form-control" rows="10" style="resize:none;" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <button id="" type="button" class="btn btn-danger btn-block-modal" data-bs-dismiss="modal">@rs.GetString("Cerrar")</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        var urlConsultarDatos = '@Url.Action("Consultar_Aclaraciones_Empresa", "Reune", new { Area = "" })';
        var urlConsultarCausas = '@Url.Action("Reune_Consultar_Causas_Producto", "Reune", new { Area = "" })';
        var urlConsultarCP = '@Url.Action("Reune_Consultar_CP", "Reune", new { Area = "" })';
        var urlConsultarMunicipios = '@Url.Action("Reune_Consultar_Municipios", "Reune", new { Area = "" })';
        var urlConsultarColonias = '@Url.Action("Reune_Consultar_Colonias", "Reune", new { Area = "" })';
        var urlConsultarRespuestaJson = '@Url.Action("Reune_Consultar_Respuesta_Json", "Reune", new { Area = "" })';


        var textoScript = {
            primero: `@Html.Raw(rs.GetString("TPrimero"))`,
            anterior: `@Html.Raw(rs.GetString("TAnterior"))`,
            siguiente: `@Html.Raw(rs.GetString("TSiguiente"))`,
            ultimo: `@Html.Raw(rs.GetString("TUltimo"))`,
            inicio: `@Html.Raw(rs.GetString("TInicio"))`,
            mostrar: `@Html.Raw(rs.GetString("Mostrar"))`,
            buscar: `@Html.Raw(rs.GetString("Buscar"))`,
            buscando: `@Html.Raw(rs.GetString("Buscando"))`,
            cargandoRegistros: `@Html.Raw(rs.GetString("CargandoRegistros"))`,
            sinDatos: `@Html.Raw(rs.GetString("TSinDatos"))`,
            noseencontraron: `@Html.Raw(rs.GetString("NoSeEncontraron"))`,
            verRespuesta: `@Html.Raw(rs.GetString("VerRespuesta"))`,

            si: `@Html.Raw(rs.GetString("Si"))`,
            no: `@Html.Raw(rs.GetString("No"))`,
            eliminar: `@Html.Raw(rs.GetString("Eliminar"))`,
            modificar: `@Html.Raw(rs.GetString("Modificar"))`,
            mostrar: `@Html.Raw(rs.GetString("Mostrar"))`,
            verificar: `@Html.Raw(rs.GetString("Verificar"))`,
            corregir: `@Html.Raw(rs.GetString("Corregir"))`,
            verErrores: `@Html.Raw(rs.GetString("VerErrores"))`,
            corregirQuejas: `@Html.Raw(rs.GetString("CorregirQuejas"))`,

            mExitoEnvioQuejas: `@Html.Raw(rs.GetString("MExitoEnvioQuejas"))`,
            mErrorEnvioQuejas: `@Html.Raw(rs.GetString("MErrorEnvioQuejas"))`,
            mErrorEnvioQuejas2: `@Html.Raw(rs.GetString("MErrorEnvioQuejas2"))`,
            mErrorSubida: `@Html.Raw(rs.GetString("MErrorSubida"))`,
            mErrorCondusef: `@Html.Raw(rs.GetString("MErrorCondusef"))`,
            error: `@Html.Raw(rs.GetString("Error"))`,

        }
    </script>

    <script type="module" src="~/js/constantes.js"></script>
    <script type="module" src="~/js/Reune/consultarAclaraciones.js"></script>
}