@using System.Globalization;


@model Condusef_DLL.Funciones.Condusef.Reune
@{
    var cultura = new CultureInfo(@ViewData["Lang"].ToString() ?? "es");
    var rm = new System.Resources.ResourceManager(typeof(IdiomaCondusef_DLL.Condusef.Condusef));
    var rs = rm.GetResourceSet(cultura, true, true);
    ViewBag.Title = rs.GetString("Aclaraciones") + " | " + rs.GetString("Reune");
    ViewBag.TituloCard = rs.GetString("Aclaraciones");
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .right-padding-3 {
        padding: 0 5em 0 0;
    }

    .btn-info {
        color: white !important;
    }
</style>

<div class="container-fluid p-0">
    <div class="card table-borderless">
        <div class="card-body p-1">
            <div class="container-fluid p-5">
                <input type="hidden" id="institucion-clave" value="@User.FindFirst("Empresa")?.Value" />
                <input type="hidden" id="sector" value="@User.FindFirst("Sector")?.Value" />
                <input type="hidden" id="indice-fila" />
                <div class="flex-row row mb-4 justify-content-between">
                    <div class="col-3">
                        <button class="btn btn-success btn-block" id="btn_cargarLayout" data-bs-toggle="modal" data-bs-target="#modalSubirArchivo"><i class="fas fa-plus" style="margin-right: 0.5rem"></i> @rs.GetString("CargarLayout")</button>
                    </div>
                    <div class="col-2 ml-auto">
                        <a class="btn btn-primary btn-block" href="~/layouts/LayoutAclaraciones.xlsx" download><i class="fas fa-download" style="margin-right: 0.5rem"></i> @rs.GetString("DescargarLayout")</a>
                    </div>
                    <div class="col-2 ml-auto">
                        <button id="btn_subirDatos" class="btn btn-info btn-block" disabled><i class="fa-solid fa-cloud-arrow-up" style="margin-right: 0.5rem"></i>@rs.GetString("btn_SubirConsultas")</button>
                    </div>
                </div>
                <div class="flex-row row mt-3">
                    <div class="col">
                        <div class="" id="Scroll">
                            <table id="tablaAclaraciones" class="table table-sm table-responsive w-100 d-block d-xl-table table-bordered table-striped selector dt-body-center pt-3" style="width:100%">
                                <thead class="dark-thead">
                                    <tr>
                                        <th id="_AclaracionNumero">Número de aclaracion</th>
                                        <th id="_AclaracionFolioAtencion">Folio de atención</th>
                                        <th id="_AclaracionEstadoConPend">Estatus de la aclaración</th>
                                        <th id="_AclaracionFechaAclaracion">Fecha de aclaración</th>
                                        <th id="_AclaracionMedioRecepcionCanal">@rs.GetString("TMedioRecepcion")</th>
                                        <th id="_AclaracionNivelAtencion">@rs.GetString("TNivelAtencion")</th>
                                        <th id="_AclaracionProductoServicio">@rs.GetString("ProductoServicio")</th>
                                        <th id="_AclaracionCausaMotivo">@rs.GetString("QuejaCausa")</th>
                                        <th id="_AclaracionDenominacion">Nombre de la institucion</th>
                                        <th id="_AclaracionSector">Sector</th>
                                        <th id="_AclaracionTrimestre">Trimestre</th>
                                        <th id="_AclaracionPori">PORI</th>
                                        <th id="_AclaracionFechaAtencion">Fecha de atención</th>
                                        <th id="_AclaracionFechaResolucion">Fecha de resolucion</th>
                                        <th id="_AclaracionFechaNotifiUsuario">Fecha de notificacion</th>
                                        <th id="_AclaracionEntidadFederativa">Estado</th>
                                        <th id="_AclaracionMunicipioAlcaldia">Municipio</th>
                                        <th id="_AclaracionColonia">Colonia</th>
                                        <th id="_AclaracionCodigoPostal">CP</th>
                                        <th id="_AclaracionLocalidad">Localidad</th>
                                        <th id="_AclaracionMonetario">Monetario</th>
                                        <th id="_AclaracionMontoReclamado">Monto reclamado</th>
                                        <th id="_AclaracionTipoPersona">Tipo persona</th>
                                        <th id="_AclaracionSexo">Sexo</th>
                                        <th id="_AclaracionEdad">Edad</th>
                                        <th id="_AclaracionFolioCondusef">Folio condusef</th>
                                        <th id="_AclaracionReversa">Reversa</th>
                                        <th id="_AclaracionOperacionExtranjero">Operacion en el extranjero</th>
                                        <th id="_Modificar"></th>
                                        <th id="_Eliminar"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-selectitems" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@rs.GetString("AgregarAclaracion")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="flex-row row my-2">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("Trimestre")</label>
                            <div class="input-group mb-3">
                                <div class="col nopadding">
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionTrimestre, new SelectList(Model.Trimestre, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "trimestre-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                                </div>
                                <span class="input-group-text" id="anioActual"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("NumeroAclaracion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionNumero, new { htmlAttributes = new { @class = "form-control", @id = "AclaracionNumero", @type = "number", @min = "1" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FolioAtencion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFolioAtencion, new { htmlAttributes = new { @class = "form-control", @id = "AclaracionFolioAtencion", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FechaAclaracion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFechaAclaracion, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "AclaracionFechaAclaracion", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("MedioRecepcion")</label>
                            <div class="col nopadding">
                                @* @Html.EditorFor(model => model.QuejasRedeco.QuejasMedio, new { htmlAttributes = new { @class = "form-control", @id = "QuejasMedio", @autocomplete = "off" } }) *@
                                @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionMedioRecepcionCanal, new SelectList(Model.MediosRecepcion, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "medios-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("NivelAtención")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @* @Html.EditorFor(model => model.QuejasRedeco.QuejasNivelAT, new { htmlAttributes = new { @class = "form-control", @id = "QuejasNivelAT", @autocomplete = "off" } }) *@
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionNivelAtencion, new SelectList(Model.NivelesAtencion, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "niveles-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("ProductoServicio")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @* @Html.EditorFor(model => model.QuejasRedeco.QuejasProducto, new { htmlAttributes = new { @class = "form-control", @id = "QuejasProducto", @autocomplete = "off" } }) *@
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionProductoServicio, new SelectList(Model.Productos, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "productos-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FechaAtencion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFechaAtencion, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "AclaracionFechaAtencion", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("QuejaCausa")</label>
                            <div class="col nopadding">
                                @* @Html.EditorFor(model => model.QuejasRedeco.QuejasCausa, new { htmlAttributes = new { @class = "form-control", @id = "QuejasCausa", @autocomplete = "off" } }) *@
                                @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionCausaMotivo, new SelectList(Model.CausasProductos, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "causas-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("PORI")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pori-radio" id="pori-radio1" value="SI">
                                    <label class="form-check-label" for="pori-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pori-radio" id="pori-radio2" value="NO" checked>
                                    <label class="form-check-label" for="pori-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("QuejaEstatus")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="estatus-radio" id="estatus-radio1" value="1" checked>
                                    <label class="form-check-label" for="estatus-radio1">
                                        @rs.GetString("Pendiente")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="estatus-radio" id="estatus-radio2" value="2">
                                    <label class="form-check-label" for="estatus-radio2">
                                        @rs.GetString("Concluido")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("EntidadFederativa")</label>
                            <div class="col nopadding">
                                @* @Html.EditorFor(model => model.QuejasRedeco.QuejasEstados, new { htmlAttributes = new { @class = "form-control", @id = "QuejasEstados", @autocomplete = "off" } }) *@
                                @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionEntidadFederativa, new SelectList(Model.Estados, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "estados-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("Municipio")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @* @Html.EditorFor(model => model.QuejasRedeco.QuejasMunId, new { htmlAttributes = new { @class = "form-control", @id = "QuejasMunId", @autocomplete = "off" } }) *@
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionMunicipioAlcaldia, new SelectList(Model.Municipios, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "municipios-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("CP")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @* @Html.EditorFor(model => model.QuejasRedeco.QuejasCP, new { htmlAttributes = new { @class = "form-control", @id = "QuejasCP", @autocomplete = "off" } }) *@
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionCodigoPostal, new SelectList(Model.CodigosPostales, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "cp-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("Colonia")</label>
                            <div class="col nopadding">
                                @* @Html.EditorFor(model => model.QuejasRedeco.QuejasColId, new { htmlAttributes = new { @class = "form-control", @id = "QuejasColId", @autocomplete = "off" } }) *@
                                @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionColonia, new SelectList(Model.Colonias, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "colonias-select", @data_live_search = "true", @data_live_search_normalize = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("TipoPersona")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="persona-radio" id="persona-radio1" value="1" checked>
                                    <label class="form-check-label" for="persona-radio1">
                                        @rs.GetString("Fisica")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="persona-radio" id="persona-radio2" value="2">
                                    <label class="form-check-label" for="persona-radio">
                                        @rs.GetString("Moral")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("Sexo")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo-radio" id="sexo-radio1" value="H" checked>
                                    <label class="form-check-label" for="sexo-radio1">
                                        @rs.GetString("Hombre")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo-radio" id="sexo-radio2" value="M">
                                    <label class="form-check-label" for="sexo-radio2">
                                        @rs.GetString("Mujer")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("Edad")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionEdad, new { htmlAttributes = new { @type = "number", @value = "18", @min = "18", @max = "100", @class = "form-control", @id = "AclaracionEdad", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-4">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("Monetario")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="monetario-radio" id="monetario-radio1" value="SI">
                                    <label class="form-check-label" for="monetario-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="monetario-radio" id="monetario-radio2" value="NO" checked>
                                    <label class="form-check-label" for="monetario-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("MontoReclamado")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionMontoReclamado, new { htmlAttributes = new { @type = "number", @step = "0.01", @min = "0", @class = "form-control", @id = "AclaracionMontoReclamado", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FolioCondusef")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFolioCondusef, new { htmlAttributes = new { @class = "form-control", @id = "AclaracionFolioCondusef", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row my-3">
                    <div class="col-3">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("Reversa")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reversa-radio" id="reversa-radio1" value="1">
                                    <label class="form-check-label" for="monetario-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reversa-radio" id="reversa-radio2" value="0" checked>
                                    <label class="form-check-label" for="reversa-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="flex-row row">
                            <label class="mb-2" for="">@rs.GetString("OperacionExtranjero")</label>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="operacion-radio" id="operacion-radio1" value="SI">
                                    <label class="form-check-label" for="operacion-radio1">
                                        @rs.GetString("Si")
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="operacion-radio" id="operacion-radio2" value="NO" checked>
                                    <label class="form-check-label" for="operacion-radio2">
                                        @rs.GetString("No")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("QuejaFechaResolucion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFechaResolucion, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "AclaracionFechaResolucion", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("QuejaFechaNotificacion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFechaNotifiUsuario, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "AclaracionFechaNotifiUsuario", @autocomplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <button id="" type="button" class="btn btn-danger btn-block-modal" data-bs-dismiss="modal">@rs.GetString("Cerrar")</button>
                    <button type="button" class="btn btn-primary btn-block-modal" id="btn_agregar">@rs.GetString("Agregar")</button>
                    <button type="button" class="btn btn-info btn-block-modal" id="btn_actualizar" style="display:none;">@rs.GetString("Modificar")</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalListadoErrores" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@rs.GetString("TConsultasErrores")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="flex-row row mt-3">
                    <div class="col">
                        <div class="" id="Scroll">
                            <table class="table table-sm table-responsive w-100 d-block d-xl-table table-bordered table-striped selector dt-body-center pt-3" id="tablaListadoErrores" style="width:100%">
                                <thead class="dark-thead">
                                    <tr>
                                        <th id="">Número de aclaracion</th>
                                        <th id="">Folio de atención</th>
                                        <th id="">Estatus de la aclaración</th>
                                        <th id="">Fecha de aclaración</th>
                                        <th id="">@rs.GetString("TMedioRecepcion")</th>
                                        <th id="">@rs.GetString("TNivelAtencion")</th>
                                        <th id="">@rs.GetString("ProductoServicio")</th>
                                        <th id="">@rs.GetString("QuejaCausa")</th>
                                        <th id="">Nombre de la institucion</th>
                                        <th id="">Sector</th>
                                        <th id="">Trimestre</th>
                                        <th id="">PORI</th>
                                        <th id="">Fecha de atención</th>
                                        <th id="">Fecha de resolucion</th>
                                        <th id="">Fecha de notificacion</th>
                                        <th id="">Estado</th>
                                        <th id="">Municipio</th>
                                        <th id="">Colonia</th>
                                        <th id="">CP</th>
                                        <th id="">Localidad</th>
                                        <th id="">Monetario</th>
                                        <th id="">Monto reclamado</th>
                                        <th id="">Tipo persona</th>
                                        <th id="">Sexo</th>
                                        <th id="">Edad</th>
                                        <th id="">Folio condusef</th>
                                        <th id="">Reversa</th>
                                        <th id="">Operacion en el extranjero</th>
                                        <th id=""></th>
                                        <th id=""></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <button id="modalListadoErrores_close" type="button" class="btn btn-danger btn-block-modal" data-bs-dismiss="modal">@rs.GetString("Cerrar")</button>
                    <button type="button" class="btn btn-primary btn-block-modal" id="btn_corregirQuejas">@rs.GetString("CorregirQuejas")</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalErrores" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@rs.GetString("TErroresAclaracion")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="flex-row row my-2">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mb-2" for="password">@rs.GetString("Trimestre")</label>
                            <div class="input-group mb-3">
                                <div class="col nopadding">
                                    @Html.DropDownListFor(model => model.AclaracionesGenerales.AclaracionTrimestre, new SelectList(Model.Trimestre, "Id", "Descripcion"), string.Format("{0}", rs.GetString("SeleccionDeOpcion")), new { @class = "select-form selectitems", @id = "trimestre_Ver", @data_live_search = "true", @data_live_search_normalize = "true", @disabled = "disabled" })
                                </div>
                                <span class="input-group-text" id="anioActual_Ver"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FolioAtencion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFolioAtencion, new { htmlAttributes = new { @class = "form-control", @id = "folio_Ver", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("", string.Format("{0}", rs.GetString("FechaReclamacion")), new { @class = "label-control mb-2" })
                            <div class="col nopadding">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.AclaracionesGenerales.AclaracionFechaAclaracion, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "fechaRecepcion_Ver", @autocomplete = "off", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row row mt-3">
                    <div class="col">
                        <div class="" id="Scroll">
                            <table class="table table-sm table-responsive w-100 d-block d-xl-table table-bordered table-striped selector dt-body-center pt-3" id="tablaErrores" style="width:100%">
                                <thead class="dark-thead">
                                    <tr>
                                        <th class="">@rs.GetString("Descripcion")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <button id="" type="button" class="btn btn-danger btn-block-modal" data-bs-dismiss="modal">@rs.GetString("Cerrar")</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSubirArchivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@rs.GetString("CargarArchivo")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="flex-row row">
                    <div class="form-group col-12 p-3" id="Archivo_Amorti">
                        @Html.Label("", string.Format("{0}", rs.GetString("SeleccionarArchivo")), new { @class = "control-label mb-3" })
                        <div class="col nopadding input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    @rs.GetString("Buscar") &hellip;<input class="" type="file" style="display: none;" id="labelinput" name="UploadedFile" accept=".xlsx" />
                                </span>
                            </label>
                            <input class="file-path form-control" type="text" id="inputname" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="subirArchivo_btn" type="button" class="btn btn-primary">@rs.GetString("SubirArchivo")</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        var urlEnviarDatos = '@Url.Action("Enviar_Aclaraciones", "Reune", new { Area = "" })';
        var urlEnviarPrueba = '@Url.Action("Prueba_Recepcion", "Reune", new { Area = "" })';
        var urlSubirLayout = '@Url.Action("Subir_Layout_Aclaraciones", "Reune", new { Area = "" })';
        var urlConsultarCausas = '@Url.Action("Reune_Consultar_Causas_Producto", "Reune", new { Area = "" })';
        var urlConsultarCP = '@Url.Action("Reune_Consultar_CP", "Reune", new { Area = "" })';
        var urlConsultarMunicipios = '@Url.Action("Reune_Consultar_Municipios", "Reune", new { Area = "" })';
        var urlConsultarColonias = '@Url.Action("Reune_Consultar_Colonias", "Reune", new { Area = "" })';

        var textoScript = {
            primero: `@Html.Raw(rs.GetString("TPrimero"))`,
            anterior: `@Html.Raw(rs.GetString("TAnterior"))`,
            siguiente: `@Html.Raw(rs.GetString("TSiguiente"))`,
            ultimo: `@Html.Raw(rs.GetString("TUltimo"))`,
            inicio: `@Html.Raw(rs.GetString("TInicio"))`,
            mostrar: `@Html.Raw(rs.GetString("Mostrar"))`,
            buscar: `@Html.Raw(rs.GetString("Buscar"))`,
            buscando: `@Html.Raw(rs.GetString("Buscando"))`,
            cargandoRegistros: `@Html.Raw(rs.GetString("CargandoRegistros"))`,
            sinDatos: `@Html.Raw(rs.GetString("TSinDatos"))`,
            noseencontraron: `@Html.Raw(rs.GetString("NoSeEncontraron"))`,

            si: `@Html.Raw(rs.GetString("Si"))`,
            no: `@Html.Raw(rs.GetString("No"))`,
            eliminar: `@Html.Raw(rs.GetString("Eliminar"))`,
            modificar: `@Html.Raw(rs.GetString("Modificar"))`,
            verificar: `@Html.Raw(rs.GetString("Verificar"))`,
            corregir: `@Html.Raw(rs.GetString("Corregir"))`,
            verErrores: `@Html.Raw(rs.GetString("VerErrores"))`,
            corregirQuejas: `@Html.Raw(rs.GetString("CorregirQuejas"))`,

            mExitoEnvioQuejas: `@Html.Raw(rs.GetString("MExitoEnvioQuejas"))`,
            mErrorEnvioQuejas: `@Html.Raw(rs.GetString("MErrorEnvioQuejas"))`,
            mErrorSubida: `@Html.Raw(rs.GetString("MErrorSubida"))`,
            error: `@Html.Raw(rs.GetString("Error"))`,
            mEliminarRegistro: `@Html.Raw(rs.GetString("MEliminarRegistro"))`,
            mRegistroEliminado: `@Html.Raw(rs.GetString("MRegistroEliminado"))`,
            mExitoArchivoProcesado: `@Html.Raw(rs.GetString("MArchivoProcesado"))`,
            mErrorArchivoProcesado: `@Html.Raw(rs.GetString("MErrorArchivoProcesado"))`,
        }
    </script>

    <script type="module" src="~/js/constantes.js"></script>
    <script type="module" src="~/js/Reune/subirLayoutAclaraciones.js"></script>
}